{% block checkout_com_card_payment_fields %}
    {% set checkoutComFormRowClass = formRowClass ?? 'form-row' %}
    {% set checkoutComFormRadioWrapperClass = formRadioWrapperClass ?? 'custom-control custom-radio' %}
    {% set checkoutComFormCheckInputClass = formCheckInputClass ?? 'custom-control-input' %}
    {% set checkoutComFormCheckLabelClass = formCheckLabelClass ?? 'custom-control-label' %}
    {% set checkoutComFormCheckboxWrapperClass = formCheckboxWrapperClass ?? 'custom-control custom-checkbox' %}

    {% block checkout_com_card_payment_import_frame_script %}
        {% if not isAccountPaymentPage %}
            <script defer src="{{ page.extensions.checkoutCom.frameUrl }}"></script>
        {% endif %}
    {% endblock %}

    {% set checkoutSource = payment.customFields.checkoutSource %}

    {% block checkout_com_card_payment_import_source %}
        {% sw_include '@CheckoutCom/storefront/checkout-com/component/card-source.html.twig' with {
            'sources': checkoutSource,
            'removable': isAccountPaymentPage
        } %}
    {% endblock %}

    {% block checkout_com_card_payment_form %}
        {% if not isAccountPaymentPage %}
            {% set cardOptions = {
                "publicKey": page.extensions.checkoutCom.publicKey,
                "cardIconsPath": asset('static/img/card-icons', '@CheckoutCom'),
                "localization": {
                    cardNumberPlaceholder: "checkoutCom.components.card.cardNumberPlaceholder"|trans|striptags,
                    expiryMonthPlaceholder: "checkoutCom.components.card.expiryMonthPlaceholder"|trans|striptags,
                    expiryYearPlaceholder: "checkoutCom.components.card.expiryYearPlaceholder"|trans|striptags,
                    cvvPlaceholder: "checkoutCom.components.card.cvvPlaceholder"|trans|striptags,
                }
            } %}

            {% block checkout_com_card_payment_form_source %}
                <div
                    class="{{ checkoutSource|length > 0 ? formRadioWrapperClass ~ ' checkout-com-source' : '' }}"
                >
                    {% block checkout_com_card_payment_form_source_radio %}
                        {% if checkoutSource|length > 0 %}
                            {% block checkout_com_card_payment_form_source_radio_input %}
                                <input type="radio"
                                       name="checkoutComSourceId"
                                       class="{{ checkoutComFormCheckInputClass }}"
                                       id="checkoutComCardPaymentForm"
                                       value="null"
                                />
                            {% endblock %}

                            {% block checkout_com_card_payment_form_source_radio_label %}
                                <label class="{{ checkoutComFormCheckLabelClass }} checkout-com-radio-label"
                                       for="checkoutComCardPaymentForm">
                                    {{ "checkoutCom.components.card.newCardLabel"|trans|striptags }}
                                </label>
                            {% endblock %}
                        {% endif %}
                    {% endblock %}

                    {% block checkout_com_card_payment %}
                        <div id="checkoutComCardPayment"
                             class="checkout-com-card-payment d-none checkout-com-source-form"
                             data-checkout-com-card-payment="true"
                             data-checkout-com-card-payment-options='{{ cardOptions|json_encode }}'
                        >
                            {% block checkout_com_card_payment_form_card_holder %}
                                <div class="{{ checkoutComFormRowClass }}">
                                    <div class="form-group col">
                                        {% block checkout_com_card_payment_form_card_holder_label %}
                                            <label class="form-label" for="cardholder-name">
                                                {{ "checkoutCom.components.card.cardholderNameLabel"|trans|striptags }}
                                            </label>
                                        {% endblock %}

                                        {% block checkout_com_card_payment_form_card_holder_input %}
                                            <input id="cardholder-name"
                                                   class="form-control checkout-com-field__cardholder-name"
                                                   type="text"
                                                   placeholder="{{ "checkoutCom.components.card.cardholderNamePlaceholder"|trans|striptags }}"
                                            />
                                        {% endblock %}
                                    </div>
                                </div>
                            {% endblock %}

                            {% block checkout_com_card_payment_form_card_number %}
                                <div class="{{ checkoutComFormRowClass }}">
                                    <div class="form-group col">
                                        {% block checkout_com_card_payment_form_card_number_label %}
                                            <label class="form-label" for="card-number">
                                                {{ "checkoutCom.components.card.cardNumberLabel"|trans|striptags }}{{ "general.required"|trans|sw_sanitize }}
                                            </label>
                                        {% endblock %}

                                        {% block checkout_com_card_payment_form_card_number_input %}
                                            <div class="card-number-frame form-control checkout-com-field__card-number">
                                                <div class="checkout-com-field_icon-card-container">
                                                    {% sw_thumbnails 'checkout-com-icon-payment-method' with {
                                                        attributes: {
                                                            'id': 'checkoutComIconPaymentMethod',
                                                        }
                                                    } %}
                                                </div>
                                            </div>
                                        {% endblock %}

                                        {% block checkout_com_card_payment_form_card_number_input_error %}
                                            <div class="invalid-feedback">
                                                {{ "checkoutCom.messages.card.cardNumber"|trans|striptags }}
                                            </div>
                                        {% endblock %}
                                    </div>
                                </div>
                            {% endblock %}
                            {% block checkout_com_card_payment_form_extra %}
                                <div class="{{ checkoutComFormRowClass }}">
                                    <div class="form-group col-6">
                                        {% block checkout_com_card_payment_form_extra_expiry_date_label %}
                                            <label class="form-label" for="expiry-date">
                                                {{ "checkoutCom.components.card.cardExpiryDateLabel"|trans|striptags }}{{ "general.required"|trans|sw_sanitize }}
                                            </label>
                                        {% endblock %}

                                        {% block checkout_com_card_payment_form_extra_expiry_date_input %}
                                            <div
                                                class="expiry-date-frame form-control checkout-com-field__expiry-date"></div>
                                        {% endblock %}

                                        {% block checkout_com_card_payment_form_extra_expiry_date_input_error %}
                                            <div class="invalid-feedback">
                                                {{ "checkoutCom.messages.card.expiryDate"|trans|striptags }}
                                            </div>
                                        {% endblock %}
                                    </div>
                                    <div class="form-group col-6">
                                        {% block checkout_com_card_payment_form_extra_cvv_label %}
                                            <label class="form-label" for="cvv">
                                                {{ "checkoutCom.components.card.cardCvvLabel"|trans|striptags }}{{ "general.required"|trans|sw_sanitize }}
                                            </label>
                                        {% endblock %}

                                        {% block checkout_com_card_payment_form_extra_cvv_input %}
                                            <div class="cvv-frame form-control checkout-com-field__cvv"></div>
                                        {% endblock %}

                                        {% block checkout_com_card_payment_form_extra_cvv_input_error %}
                                            <div class="invalid-feedback">
                                                {{ "checkoutCom.messages.card.cvv"|trans|striptags }}
                                            </div>
                                        {% endblock %}
                                    </div>
                                </div>
                            {% endblock %}

                            {% block checkout_com_card_payment_form_check_store_card %}
                                <div class="{{ checkoutComFormRowClass ?? 'form-row' }}">
                                    <div class="form-group col">
                                        {% block checkout_com_card_payment_form_check_store_card_checkbox %}
                                            <div class="{{ checkoutComFormCheckboxWrapperClass }} checkout-com-custom-checkbox">
                                                {% block checkout_com_card_payment_form_check_store_card_checkbox_input %}
                                                    <input type="checkbox"
                                                           id="checkoutComShouldSaveSource"
                                                           class="{{ checkoutComFormCheckInputClass }}"
                                                           name="checkoutComShouldSaveSource"
                                                    />
                                                {% endblock %}

                                                {% block checkout_com_card_payment_form_check_store_card_checkbox_label %}
                                                    <label class="{{ checkoutComFormCheckLabelClass }}"
                                                           for="checkoutComShouldSaveSource">
                                                        {{ "checkoutCom.messages.source.saveSource"|trans|striptags }}
                                                    </label>
                                                {% endblock %}
                                            </div>
                                        {% endblock %}
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        {% endif %}
    {% endblock %}
{% endblock %}
